
body {
  border: 2px solid black;
  max-width: 70%;
  background-image: url("https://media.freestocktextures.com/cache/bc/fc/bcfc7b6694542e0da1a6562ee676301e.jpg");
  margin: auto;
}

body h1, p {
padding: 5px;
}

header {
  max-width: 100%;
  border: 2px red solid;
  height: 100px;
}
div {
  max-height: 150px;
  display:inline;
  border: 3px solid green;
}
nav li {
  display:inline;
  padding: 5%;
  width: 32%;
}
nav {
  width: 100%;
  text-align:center;
  display: inline;

}
header {
  color:black;
  border: 3px solid red;
  max-height: 100px;
}

li {
  margin-left: 20px;
}

img {
  max-height: 100%;
}
